<h1>Bienvenido, <span class="username">{{user.name}}</span></h1>

<p><i>TASKMAN</i> es un gestor de tareas y proyectos desarrollado desde cero bajo un entorno seguro y en constante desarrollo.</p>

<p>Crea, modifica y comparte todo, a cualquier hora y desde cualquier lugar.</p>

<div class="create">
<a href="/api/tasks/create">Crear nueva tarea</a>
</div>



